<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTRPG Website</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <header>
        <h1>Small and <u>in</u> Order</h1>
        <p> (like law and order... get it?)</p>
    </header>

    <nav>
        <a href="#home">Home</a>
        <a href="#About">About</a>
        <a href="#Disclaimer">Disclaimer</a>
        <a href="/login" class="loginLink">Login</a>
    </nav>

    <main>
        <h2>Who are we</h2>
        <p>Add details here later</p>
    </main>

    <footer>
    </footer>

</body>
</html>